@charset "UTF-8";
/* 게시판 리스트 */
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




h1 {
    text-align: center;
    color: #333;
    font-family: 'TheJamsil5Bold';
    font-size: 43px;
}
table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.boardtd {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}
table, th, td {
border: 1px solid lightgray;
border-left: none;
border-right: none;
}


.category {
  text-align: center;
  font-size: 22px;
  font-family: 'IBMPlexSansKR-Regular';
}
#num {
  text-align: center;
}
/* 밑줄 */
.fromCenter { 
    color: #000;
    display:inline-block; 
    margin:0;
    text-transform:uppercase; }
    .fromCenter:after {
    display:block;
    content: '';
    border-bottom: solid 3px lightgray;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .fromCenter:hover:after { transform: scaleX(1); }
  .fromCenter.fromRight:after{ transform-origin:100% 50%; }
  .fromCenter.fromLeft:after{  transform-origin:  0% 50%; }

  /* 글쓰기 버튼 */
  #wirter{
    margin-left: 80%;
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 17px;
  }

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #555;
}

#title {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
#content {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 900px;
    height: 300px;
}
.container {
    display: inline-block;
    margin-left: 23%;
}
#small {
    font-size: 14px;
}

input {
            width: 900px;
            height: 25px;
            font-size: 15px;
            margin-top: 20px;
        }
