@charset "UTF-8";
/* 폰트 */
@font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdeok Sea';
    src:url('./font/Yeongdeok\ Sea.ttf') format('woff'),
        url('./font/Yeongdeok\ Sea.ttf') format('woff2');
    font-weight: 400;
} 
@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 로그인 하이퍼링크 클릭 색상 */
a {
    color: black; 
    text-decoration: none; /* 하이퍼 링크 밑줄 제거 */
    transition: color 0.3s; 
  }
  
a:hover {
    color: black; 
  }
 

/* 상단바 */
.navbar {
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    display: flex;
    font-family: 'SejonghospitalBold';
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 18px;
    margin-top: 25px;
}
/* 운동정보 링크에 회색 배경색 적용 */
.navbar a:nth-child(2):not(#icon):hover {
    background-color: #ddd;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* 커뮤니티 링크에 회색 배경색 적용 */
.navbar a:nth-child(3):not(#icon):hover {
    background-color: #ddd;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* EPA이용방법 링크에 회색 배경색 적용 */
.navbar a:nth-child(4):not(#icon):hover {
    background-color: #ddd;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* 마이페이지 링크에 회색 배경색 적용 */
.navbar a:nth-child(5):not(#icon):hover {
    background-color: #ddd;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* 아이디가 "icon"인 이미지 링크에 hover 효과 적용하지 않음 */
.navbar a#icon:hover {
    background-color: transparent;
}


#login_icon{
	margin-top:10px;
}

/* 로그인,회원가입 상단바 */
header{
    text-align: right;
    background-color: white;
    margin-right: 50px;
    font-family: 'SejonghospitalBold';
    margin-bottom: 10px;
}
/* 로고글씨 */
#logo {
    margin-right: auto;
    font-size: 50PX;
    background-color: white;
    font-family: 'Tenada';
}
/* 로고사진 */
#icon{
    margin-top: -30px;
    margin-left: -1900px;
}

/* 마이페이지 프로필카드 */

.profile-card {
    margin-top: 100px; 
    width: 400px; 
    height: 500px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 150px;
    position: relative; 
    background: linear-gradient(to bottom, lavender 55%, #ffffff 45%);
}

.profile-card img {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    margin-bottom: 10px; 
    object-fit: cover;
}

.profile-card h2 {
    text-align: center; 
    margin-bottom: 5px; 
    font-family: 'NPSfontBold';
}

.profile-card h4 {
    text-align: left; 
    width: 100%; 
    margin: 20px 0; 
    font-family: 'NPSfontBold';
}

.profile-card button {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    background-color: gainsboro;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-card button:hover {
    background-color: gray
}

/* 프로필카드 + 진행률바 */
.container {
    position: relative; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    height: 500px;
    margin-top: 100px;
}

.bar {
    width: 200px; 
    position: absolute;
    bottom: 250px; 
    left: 50%; 
    transform: translateX(-50%); /* 가운데 정렬을 위한 설정 */
}

progress {
    position: absolute;
    top: -60px; 
    left: 170px; 
    width: 500px;
    height: 50px; 
    background-image: linear-gradient(to right, rgb(206, 224, 105), rgb(227, 236, 107));
    margin-left: 50px;
}
progress.progress1{
    margin-top: -180px;
}
progress.progress2{
    margin-top: -50px;
}
.progress-text {
    position: absolute;
    top: -300px; /* progress 위로  */
    right: -400px; 
    transform: translateX(-50%); /* 가운데 정렬 보정 */
    font-size: 16px; 
    font-family: 'NPSfontBold';
   
}
/* progress 진행률 숫자로 표현하기 */
progress::after {
    content: attr(value) "/" attr(max); /* value와 max 속성 값 표시 */
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    font-size: 16px;
    font-weight: bold;
}

.progress-text2{
    position: absolute;
    top: -50px; /* progress 위로  */
    right:-360px; 
    transform: translateX(-50%); /* 가운데 정렬 보정 */
    font-size: 16px; 
    margin-top: -100px;
    font-family: 'NPSfontBold';
}

/* progress 두개 bar색상과 안에 텍스트색상 설정 */
progress::-webkit-progress-bar {background: #eee;} /* Chrome */
progress::-webkit-progress-value {background:#c2c2c2;} /* Chrome */
progress::-moz-progress-bar {background: #eee;} /* Firefox */
progress,
progress[role] {
   appearance: none; 
   -moz-appearance: none; 
   -webkit-appearance: none; 
   border: none; 
   background-size: auto; 
   width: 500px; height: 50px; /* 높이값과 넓이값은 맘대로 조정 */
   margin: 10px 0;}
progress[role]:after {background-image: none;}
.progress1::-webkit-progress-value {background:green !important;}
.progress2::-webkit-progress-value {background:yellowgreen !important;}
/* IE10 이상 */
progress {color:#c2c2c2;}
progress.progress1 {color:white !important;}
progress.progress2 {color:white!important;}



.button-container {
    display: flex; /* 부모 컨테이너를 플렉스 박스로 설정 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: flex-start; /* 아이템을 위로 정렬 */
    margin-top: 50px; /* 버튼들을 아래로 내리기 위한 여백 */
    position: absolute; /* 절대 위치 지정 */
    margin-left: 70px;
}

.btn-3d {
    display: inline-block; /* 버튼을 가로로 나란히 정렬 */
    font-size: 22px;
    padding: 20px 30px;
    color: white;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    margin-right : auto;
    min-width: 100px; 
    height: 30px;
    white-space: nowrap;    /* 텍스트 줄바꿈 방지*/
    margin-left: 40px;
    font-family: 'NPSfontBold';
}

.btn-3d.powderblue:hover    {background-color: powderblue;}
.btn-3d.khaki:hover  {background-color: khaki;}
.btn-3d.purple:hover {background-color: lightpink;}


.btn-3d:active {
    top: 9px;
}

.btn-3d.khaki {
    background-color: khaki;
    box-shadow: 0 0 0 1px khaki inset,
}
.btn-3d.khaki:active {
    box-shadow: 0 0 0 1px khaki inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.powderblue {
    background-color: powderblue;
    box-shadow: 0 0 0 1px powderblue inset,
}

.btn-3d.powderblue:active {
    box-shadow: 0 0 0 1px powderblue inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.lightpink {
    background-color: lightpink;
    box-shadow: 0 0 0 1px lightpink inset,
}

.btn-3d.lightpink:active {
    box-shadow: 0 0 0 1px lightpink inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
}


/* 마이페이지 - 편집하기 (정보수정)*/

.correction{
    margin-top: 100px; 
    width: 300px; 
    height: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 80px;
    position: relative; 
    background: whitesmoke;
    margin-bottom: 100px;
}


.correction2{
    margin-top: 100px; 
    width: 300px; 
    height: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 50px;
    position: relative; 
    background: whitesmoke;
    margin-bottom: 100px;
}

#current_pw{
    width: 300px; 
    height: 30px;
}
#new_pw{
    width: 300px; 
    height: 30px;
}
#confirm_pw{
    width: 300px; 
    height: 30px;
}

#nickname{
    width: 300px; 
    height: 30px;
}
#email{
    width: 300px; 
    height: 30px;
}
#height{
    width: 300px; 
    height: 30px;
}
#weight{
    width: 300px; 
    height: 30px;
}
.correction2 {
    margin-top: 100px; 
    width: 300px; 
    height: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 50px;
    position: relative; 
    background: whitesmoke;
    margin-bottom: 100px;
}

/* 마이페이지-편집하기- 저장/취소 버튼 */
.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-save,
.btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save {
    background-color: lightblue;
    color: black;
    margin-right: 50px
    
}

.btn-cancel {
    background-color: whitesmoke;
    color: black;
}



/* 푸터 */
footer {
   
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 0.5rem 0;
    text-align: center;
    border-top: 1px solid #e4e4e4;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-message {
    font-weight: bold;ㅇ
    font-size: 0.9rem;
    color: #545e6f;
    margin-bottom: 0.3rem;
}

.footer-contact,
.footer-copyright {
    font-size: 0.9rem;
    color: #545e6f;
    margin: 0.6rem;
}






