<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD지정  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.epa.mapper.loginMapper">
	<select id="getTime" resultType="string">
		select now()
	</select>
   <select id="loginMember" parameterType="com.epa.entity.login"
        resultType="com.epa.entity.login">
        select * from MEM_TB where MEM_ID=#{MEM_ID} and MEM_PW=#{MEM_PW}
    </select> 
    
	<insert id="insertMember">
		insert into MEM_TB(MEM_ID,MEM_PW,MEM_NM,MEM_EMAIL) 
      values (#{MEM_ID},#{MEM_PW},#{MEM_NM},#{MEM_EMAIL})
	</insert>

	<select id="readMember" resultType="com.epa.mapper.loginMapper">
		select *
		from MEM_TB
		where MEM_ID=#{MEM_ID}
	</select>

	<select id="readMemberWithIDPW" resultType="com.epa.mapper.loginMapper">
		select *
		from MEM_TB
		where MEM_ID=#{MEM_ID} and MEM_PW=#{MEM_PW}
	</select>	

</mapper>