<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epa.mapper.MemberMapper">
    
    <insert id="joinTear" parameterType="com.epa.entity.Member">
        INSERT INTO TEAR_TB 
        VALUES(#{MEM_ID}, '입문', 0, 0, now())
    </insert>

	<insert id="joinInsert" parameterType="com.epa.entity.Member">
		insert into MEM_TB
		(MEM_ID,MEM_PW,MEM_NM,MEM_AGE,MEM_H,MEM_W,MEM_G,MEM_EMAIL,MEM_M)
		values
		(#{MEM_ID},#{MEM_PW},#{MEM_NM},#{MEM_AGE},#{MEM_H},#{MEM_W},#{MEM_G},#{MEM_EMAIL},#{MEM_M})
	</insert>


	<select id="loginMember" parameterType="com.epa.entity.Member"
		resultType="com.epa.entity.Member">
		select * from MEM_TB where MEM_ID=#{MEM_ID} and
		MEM_PW=#{MEM_PW}
	</select>


	<update id="updateMember" parameterType="com.epa.entity.Member">
		update MEM_TB
		set MEM_PW
		= #{MEM_PW}, MEM_NM = #{MEM_NM}, MEM_AGE = #{MEM_AGE},
		MEM_H =
		#{MEM_H}, MEM_W = #{MEM_W}, MEM_G = #{MEM_G}, MEM_EMAIL =
		#{MEM_EMAIL}
		where MEM_ID = #{MEM_ID}
	</update>

	<update id="messageMember" parameterType="com.epa.entity.Member">
		update MEM_TB
		set MEM_M
		= #{MEM_M}
		where MEM_ID = #{MEM_ID}
	</update>

	<select id="getMEM_M" resultType="java.lang.String">
		SELECT MEM_M FROM MEM_TB WHERE
		MEM_ID = #{memId}
	</select>

	<!-- Your existing queries ... -->

	<update id="imageMember" parameterType="map">
		UPDATE MEM_TB
		SET MEM_IMG
		= #{imagePath}
		WHERE MEM_ID = #{memId}
	</update>


	<!-- Insert MEM_M 값 -->
	<insert id="insertMessage" parameterType="com.epa.entity.Member">
		INSERT INTO MEM_TB
		(MEM_M, MEM_ID)
		VALUES (#{MEM_M}, #{MEM_ID})
	</insert>

	<insert id="insertMember">
		insert into MEM_TB(MEM_ID,MEM_PW,MEM_NM,MEM_EMAIL)
		values (#{MEM_ID},#{MEM_PW},#{MEM_NM},#{MEM_EMAIL})
	</insert>

	<delete id="deleteMember" parameterType="com.epa.entity.Member">
		DELETE FROM MEM_TB
		WHERE
		MEM_ID = #{MEM_ID}
	</delete>

	<select id="readMember" resultType="com.epa.entity.Member">
		select *
		from MEM_TB
		where
		MEM_ID=#{MEM_ID}
	</select>

	<select id="readMemberWithIDPW"
		resultType="com.epa.entity.Member">
		select *
		from MEM_TB
		where MEM_ID=#{MEM_ID} and
		MEM_PW=#{MEM_PW}
	</select>
	
	<select id="mbidCheck" parameterType="com.epa.entity.Member" resultType="String">
      select MEM_ID
      from MEM_TB
      where
      MEM_ID=#{MEM_ID}
   </select>
</mapper>